<!--
<mat-card>
  <mat-card-title>User Form</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="saveUser()">


      <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput [(ngModel)]="user.UserName" name="UserName" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="user.Password" name="Password" type="password" required>
      </mat-form-field>



      <button mat-raised-button color="primary" type="submit">Save User</button>
    </form>
  </mat-card-content>
</mat-card> -->

<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-error *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
          Username is required
        </mat-error>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          Password is required
        </mat-error>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>

